<div class="container">
    <div>
        <button class="btn btn-primary" *ngIf="loginResponse?.role == 'admin'" (click)="openCreateMoaiModal()">Create New Moai</button>
    </div>
    <div class="carousel-wrapper">
      <button class="arrow" (click)="slickModal.slickPrev()"><i class="fa fa-chevron-left custom-icon" aria-hidden="true"></i></button>
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let moai of moais">
            <app-card 
            [name]="moai.name" 
            [value]="moai.value" 
            [year]="moai.year" 
            [duration]="moai.duration"
            [status]="moai.status"
            [organizer]="moai.userName" 
            [rules]="moai.rules">
            </app-card>
        </div>
      </ngx-slick-carousel>
      <button class="arrow" (click)="slickModal.slickNext()"><i class="fa fa-chevron-right custom-icon" aria-hidden="true"></i></button>
    </div>
    <div class="cards">
          <div *ngFor="let moai of moais">
              <app-card 
              [name]="moai.name" 
              [value]="moai.value" 
              [year]="moai.year" 
              [duration]="moai.duration"
              [status]="moai.status"
              [organizer]="moai.userName" 
              [rules]="moai.rules">
              </app-card>
          </div>
    </div>
</div>

<ng-template #createMoaiModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">New Moai</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="moaiForm">
        <div class="mb-3">
          <label for="moaiName" class="form-label">Name</label>
          <input type="text" class="form-control" id="moaiName" formControlName="name" required>
        </div>
        <div class="mb-3">
          <label for="moaiValue" class="form-label">Value</label>
          <input type="text" class="form-control" id="moaiValue" formControlName="value" required>
        </div>
        <div class="mb-3">
          <label for="moaiYear" class="form-label">Year</label>
          <input type="text" class="form-control" id="moaiYear" formControlName="year" required>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <button type="submit" class="btn btn-primary">Create</button>
            <button type="submit" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
      </form>
    </div>
  </ng-template>