.card {
    margin: 20px;
  }
  
  .card-header {
    font-size: 1.25rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    margin: 5px 0;
  }
  
  .card-footer {
    font-size: 0.875rem;
  }

  .icons {
    padding: 0;
    margin: 10px;
  }

  i:hover {
    color: #0D6EFD;
  }

  @media (max-width: 768px) {
    .btnParticipate {
      width: 100%;
    }
  }
  
  @media (min-width: 769px) {
    .btnParticipate {
      width: 50%;
    }
  }