<div class="card text-center">
    <div class="card-header">
      {{ name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ value }}</h5>
      <mat-divider></mat-divider>
      <p class="card-text">Year: {{ year }}</p>
      <p class="card-text">Duration: {{ duration }}</p>
      <p class="card-text">
        <button class="btn icons" style="margin: 0; padding: 0;">
          <i class="fa fa-user" aria-hidden="true" matTooltip="Participants" (click)="openParticipantsModal()"></i>
        </button> {{ participants.length }}
      </p>
      <p class="card-text">{{ status }} 
        <i class="fa fa-circle fa-2xs" [ngStyle]="{'color': status === 'Open' ? 'green' : 'red'}" aria-hidden="true"></i>
      </p>
      <mat-divider class="mb-2"></mat-divider>
      <div>
        <button class="btn btn-primary btnParticipate" *ngIf="loginResponse?.role == 'user' && !isParticipant()" [disabled]="status !== 'Open'" (click)="onParticipate()">To participate</button>
        <button class="btn btn-primary btnParticipate" *ngIf="loginResponse?.role == 'admin' || isParticipant()" (click)="onView()">See moai</button>
        <button class="btn icons" (click)="openRules()" matTooltip="See rules">
          <i class="fa fa-book fa-lg" aria-hidden="true"></i>
        </button>
        <button class="btn icons" matTooltip="Edit moai" *ngIf="loginResponse?.role == 'admin'" (click)="onEdit()">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn icons" matTooltip="Delete moai" *ngIf="loginResponse?.role == 'admin'" (click)="onDelete()">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="card-footer text-muted" style="display: flex; justify-content: space-between;">
      <span>Organized by: {{ organizer }}</span>
      <span>Created At: {{ createdAt }}</span>
    </div>
  </div>
  
  <ng-template #rulesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Rules</h4>
    </div>
    <div class="modal-body">
      <p>{{ rules }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

  <ng-template #participantsModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Participants</h4>
    </div>
    <div class="modal-body">
      <ul>
        <li *ngFor="let moaiParticipant of participants">{{ moaiParticipant.participant.name }}</li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>