<div class="register-container">
  <div class="register-form-container">
    <div class="card p-4">
      <div class="card-body">
        <h2 class="card-header-title text-center mb-5">WeControl</h2>
        <h3 class="card-title text-center mb-5">Create your account</h3>
        <form [formGroup]="registerForm">
          <div class="form-group mb-3">
            <label for="name">Name</label>
            <input type="name" class="form-control" id="name" formControlName="name" required placeholder="Enter name">
          </div>
          <div class="form-group mb-3">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email" required placeholder="Enter e-mail">
          </div>
          <div class="form-group mb-3">
            <label for="cellphone">Cell Phone</label>
            <input type="cellphone" class="form-control" id="cellphone" formControlName="cellphone" required placeholder="Enter cell phone" (input)="formatCellphone()">
          </div>
          <div class="form-group mb-3">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" formControlName="login" required placeholder="Enter username">
          </div>
          <div class="form-group mb-3 position-relative">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" required placeholder="Enter password">
            <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
               class="position-absolute password-toggle"
               id="togglePassword"
               (click)="togglePasswordVisibility()"></i>
            <div class="d-flex justify-content-between align-items-center">
              <small [ngClass]="{'text-danger': registerForm.get('password')?.value?.length < 6 && registerForm.get('password')?.touched}" class="ms-auto">{{ registerForm.get('password')?.value?.length || 0 }}/6</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" formControlName="confirmPassword" required placeholder="Confirm password">
            <div *ngIf="passwordMismatch && registerForm.get('confirmPassword')?.touched">
              <p class="text-danger">Passwords do not match</p>
            </div>
          </div>
        </form>
        <div class="mt-5">
          <button type="submit" class="btn btn-primary w-100" (click)="onSubmit()">Register</button>
          <div class="divider">
            <div></div>
            <span>or</span>
            <div></div>
          </div>
          <button type="button" class="btn btn-primary w-100" routerLink="/login">Login</button>
        </div>
      </div>
    </div>
  </div>
  <div class="background-container">
    <h1>The solution for your business</h1>
    <h2>you find it here</h2>
  </div>
</div>
