<div class="card text-center">
    <div class="card-header">
      {{ name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ value | currency:'USD':'symbol' }}</h5>
      <mat-divider></mat-divider>
      <p class="card-text">Year: {{ year }}</p>
      <p class="card-text">Duration: {{ duration }}</p>
      <p class="card-text">{{ status }} 
        <i class="fa fa-circle fa-2xs" [ngStyle]="{'color': status === 'Open' ? 'green' : 'red'}" aria-hidden="true"></i>
      </p>
      <mat-divider></mat-divider>
      <button class="btn btn-primary btnParticipate" *ngIf="loginResponse?.role == 'user'">To participate</button>
      <button class="btn btn-primary btnParticipate" *ngIf="loginResponse?.role == 'admin'">See moai</button>
      <button class="btn" (click)="openRules()" matTooltip="See rules">
        <i class="fa fa-book fa-lg" aria-hidden="true"></i>
      </button>
      <button class="btn" matTooltip="Edit moai" *ngIf="loginResponse?.role == 'admin'">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
      <button class="btn" matTooltip="Delete moai" *ngIf="loginResponse?.role == 'admin'">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
      <p class="card-text"></p>
    </div>
    <div class="card-footer text-muted">
      Organized by: {{ organizer }}
    </div>
  </div>
  
  <ng-template #rulesModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Rules</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>{{ rules }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>