<div class="forgot-password-container">
  <div class="forgot-password-form-container">
    <div class="card p-4">
      <div class="card-body">
        <h2 class="card-header-title text-center mb-5">WeControl</h2>
        <h3 class="card-title text-center mb-5">Enter the email address of the account you want to change the password</h3>
        <form [formGroup]="forgotPasswordForm">
          <div class="form-group mb-3">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter e-mail">
          </div>
        </form>
        <div class="mt-5">
          <button type="submit" class="btn btn-primary w-100" (click)="onSubmit()" [disabled]="sendMail">Recover Password</button>
          <div class="divider">
            <div></div>
            <span>or</span>
            <div></div>
          </div>
          <button type="submit" class="btn btn-primary w-100" routerLink="/login" [disabled]="sendMail">Login</button>
        </div>
      </div>
    </div>
  </div>
  <div class="background-container">
    <h1>The solution for your business</h1>
    <h2>you find it here</h2>
  </div>
</div>