<div class="card">
    <div class="card-header">
      {{ month }}
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ status }} <i class="fa fa-circle fa-2xs" [ngStyle]="{'color': status === 'Open' ? 'green' : 'red'}" aria-hidden="true"></i></h5>
      <p class="card-text" *ngIf="bidStartDate">Bid Start: {{ bidStartDate.slice(0, 10) }}</p>
      <p class="card-text" *ngIf="bidEndDate">Bid End: {{ bidEndDate.slice(0, 10) }}</p>
      <p class="card-text" *ngIf="highestBid">Highest Bid: {{ highestBid }}</p>
      <p class="card-text" *ngIf="highestBidUser">Highest Bid User: {{ highestBidUser }}</p>
      <button class="btn btn-primary" [disabled]="disabled">Go somewhere</button>
    </div>
    <div class="card-footer text-muted">
      -
    </div>
</div>