<div class="card" [ngStyle]="{'opacity': cardOpacity}">
  <div class="card-header">
    {{ month }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ status }} 
      <i class="fa fa-circle fa-2xs" [ngStyle]="{'color': statusColor}" aria-hidden="true"></i>
    </h5>

    <mat-divider class="mb-2"></mat-divider>

    <p class="card-text" *ngIf="showBidStartDate">Bid Start: {{ bidStartDate.slice(0, 10) }}</p>
    <p class="card-text" *ngIf="showBidEndDate">Bid End: {{ bidEndDate.slice(0, 10) }}</p>
    <p class="card-text text-success" *ngIf="showHighestBid">Highest Bid: {{ highestBid?.valueBid | currency:'USD':'symbol':'1.2-2' }}</p>
    <p class="card-text text-success" *ngIf="showHighestBid">Highest Bid User: {{ highestBid?.user?.name }}</p>

    <mat-divider class="mb-2" *ngIf="!(bids.length > 0 && closeBids)"></mat-divider>

    <div id="btnUser" *ngIf="!admin">
      <button class="btn btn-primary btnBid" [disabled]="disabled && status != 'Open'" *ngIf="showBidButton" (click)="onBid()">{{ youBid ? 'Increase bid' : 'Bid'}}</button>
      <button class="btn icons" matTooltip="Delete bid" *ngIf="showDeleteButton" (click)="onDelete()">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
      <button class="btn btn-success m-2" *ngIf="showSendProofButton && status == 'Open'" (click)="onSendProof()" [disabled]="disabled && status != 'Open'">
        <i class="fa-brands fa-whatsapp fa-xl me-2" style="color: white;"></i>Send Proof
      </button>
    </div>

    <div id="btnAdmin" *ngIf="admin">
      <button class="btn btn-primary" *ngIf="showViewBidsButton" (click)="openBidsModal()">View bids</button>
      <button class="btn btn-primary m-2" *ngIf="showPaymentsButton" (click)="openPaysModal()" [disabled]="disabled && status != 'Open'">Payments</button>
    </div>

    <p style="font-weight: bolder;" [ngClass]="userPaymentClass" *ngIf="role == 'user'">{{ userPaymentStatus }}</p>
  </div>
  <div class="card-footer">
    <p style="margin: 0;">{{ numberOfBidsMessage }}</p>
  </div>
</div>

<ng-template #bidsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Bids</h4>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Position</th>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bid of bids; let i = index">
          <td [ngClass]="getBidRowClass(i)">{{ i + 1 }}</td>
          <td [ngClass]="getBidRowClass(i)">{{ bid.user.name }}</td>
          <td [ngClass]="getBidRowClass(i)">{{ bid.valueBid | currency:'USD':'symbol':'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #paysModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Payments</h4>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Value</th>
          <th scope="col">Status</th>
          <th scope="col">Pay?</th>
          <th scope="col" class="text-nowrap">Notify via</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of payStatusList; let i = index">
          <td>{{ user.participant.name }}</td>
          <td>
            <p>{{ user.valuePay | currency:'USD':'symbol':'1.2-2' }}</p>
          </td>
          <td [ngClass]="statusTextClass">
            {{ user.status }}
          </td>
          <td>
            <button class="btn btn-success me-2" *ngIf="user.status === 'I do not pay'" (click)="onPay(user)">Yes</button>
          </td>
          <td>
            <div class="notify-buttons">
              <i class="fa-brands fa-whatsapp whatsapp" (click)="onNotifyUsersViaWhatsapp(user)" *ngIf="canNotifyUsers && user.status == 'I do not pay'"></i>
              <i class="fa-regular fa-envelope email" (click)="onNotifyUsersViaEmail(user)" *ngIf="canNotifyUsers && user.status == 'I do not pay'"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
