<app-toolbar></app-toolbar>
<div class="main-container">
    <div class="header">
        <button class="btn btn-primary" (click)="back()">Back</button>
    </div>
    <div class="container">
        <h1>{{ moai?.name }}</h1>
        <div *ngFor="let moaiMonthly of moaiMonthlys">
            <app-moai-monthly-card
                [month]="moaiMonthly.month" 
                [bidStartDate]="moaiMonthly.bidStartDate" 
                [bidEndDate]="moaiMonthly.bidEndDate" 
                [highestBid]="moaiMonthly.highestBid"
                [status]="moaiMonthly.status"
                [disabled]="canYouBid(moaiMonthly)"
                [role]="loginResponse?.role"
            >
            </app-moai-monthly-card>
        </div>
    </div>
</div>