<div class="reset-password-container">
  <div class="reset-password-form-container">
    <div class="card p-4">
      <div class="card-body">
        <h2 class="card-header-title text-center m-5">WeControl</h2>
        <h3 class="card-title text-center mb-5" style="text-wrap: nowrap; font-size: 16px;">For: {{email}}</h3>
        <form [formGroup]="resetPasswordForm">
          <div class="form-group mb-3 position-relative">
            <label for="newPassword">New Password</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required placeholder="Enter new password">
            <i [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" 
               class="position-absolute password-toggle" 
               id="togglePassword" 
               (click)="togglePasswordVisibility()"></i>
            <div class="d-flex justify-content-between align-items-center">
              <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched" class="text-danger">
                The New Password field is required.
              </div>
              <small [ngClass]="{'text-danger': resetPasswordForm.get('newPassword')?.value?.length < 6 && resetPasswordForm.get('newPassword')?.touched}" class="ms-auto">{{ resetPasswordForm.get('newPassword')?.value?.length || 0 }}/6</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" formControlName="confirmNewPassword" required placeholder="Confirm password">
            <div *ngIf="resetPasswordForm.get('confirmNewPassword')?.invalid && resetPasswordForm.get('confirmNewPassword')?.touched && !passwordMismatch" class="text-danger">
              The Confirm New Password field is required.
            </div>
            <div *ngIf="passwordMismatch && resetPasswordForm.get('confirmNewPassword')?.touched">
              <p class="text-danger">Passwords do not match</p>
            </div>
          </div>
        </form>
        <div class="mt-5">
          <button type="submit" class="btn btn-primary w-100" (click)="resetPassword()">Reset Password</button>
        </div>
      </div>
    </div>
  </div>
  <div class="background-container">
    <h1>The solution for your business</h1>
    <h2>you find it here</h2>
  </div>
</div>